//- Homepage Markup
extends ./layouts/base

block content
	.container
		.background
			h1 The Next Big Thing
			
	.section
		.container#side-slide-effects
			.slide-right(data-0="left: -200px;" data-100="left: 300px;") Thing that slides in from the left
			.slide-left(data-0="left: 1200px;" data-100="left: 0px;") thing that should slide in from left
		
		section
			.container.pricing Check out our tiered pricing. 
				p It's guaranteed to make you buy something
				span.card.col-md-3
					h4 El Cheapo
					.snide (You could do better)
					ul 
						li $3.99 / month
						li Only works on IE
						li Built using two monkeys
				span.card.col-md-3
					h4 Medicore
					.snide (but not terrible)
					ul 
						li $6.99 / month
						li Uses AJAX technology
						li Mobile Friendly!
						li Necessary for a lean startup
				span.card.col-md-3
					h4 You only buy the best
					.snide (you sexy beast)
					ul 
						li $9.99 / month
						li Uses react, angular, polymer, AND backbone
						li Powered by the tears of rockstar developers
			
		.container#filler This area will have an animated svg 
			h3 tab based setup that has
		
		.container
			h2 Let's Disrupt br 
			h2 You Sexy Disruptor
			
		.container
			#phone-container
				.iphone-front
				p Of course it's available on iphone
				.iphone-back
		.container
			#android-container
				.iphone-front
				p And android.
				p Because we're not g*d*m savages
				.iphone-back
			
		.parallax
			p It's so good, it actually warrants a parallax effect. So get scrolling. 